---
import Author from "./Author.astro";
import type { Author as AuthorType } from "../content/_authors";

export interface Props {
	title: string;
	href: string;
	author: AuthorType;
	image?: string;
	imageAlt?: string;
	date: Date;
	tags: string[];
}

const {
	image = "/card-placeholder2.png",
	imageAlt = "Imagem do artigo",
	author,
	href,
	title,
	date,
	tags,
} = Astro.props;
---

<a class="card-wrapper" href={href}>
	<div class="image-wrapper">
		<img src={image} alt={imageAlt} loading="lazy"/>
	</div>

	<div class="card-info">
		<Author author={author} date={date} />
		<h1>{title}</h1>

		<div class="tags">
			{
				tags.map((tag) => {
					return <span class="tag">#{tag} </span>;
				})
			}
		</div>
	</div>
</a>

<style>
	.card-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		flex: 1;

		text-decoration: none;
		color: unset;

		min-width: 250px;

		gap: 10px;
	}

	.card-wrapper:hover img {
		scale: 1.05;
	}

	.image-wrapper {
		display: flex;

		border-radius: 5px;
		flex: 1 1 270px;
		overflow: hidden;
	}

	img {
		display: flex;
		width: 100%;
		aspect-ratio: 1.5/1;
		object-fit: cover;

		transition: scale 0.2s;
	}

	.card-info {
		display: flex;
		flex-direction: column;

		justify-content: space-between;

		gap: 20px;

		flex: 1 1 270px;
	}

	h1 {
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 700;
		font-size: clamp(1.2rem, 4vw, 1.5rem);
		color: var(--c-text);
	}

	.tag {
		font-size: 14px;
		color: var(--c-primary);
		font-weight: 700;
	}
</style>
