---
import Author from "./Author.astro";

export interface Props {
	title: string;
	href: string;
	image: string;
	date: Date;
	articleTags: string[];
	type: "vertical" | "horizontal";
}

const { href, title, image, type, date, articleTags } = Astro.props;
---

<a class="card-wrapper" href={href}>
	<div class="image-wrapper">
		<img src={image} alt="" />
	</div>

	<div class="card-info">
		<Author date={date}/>
		<h1>{title}</h1>

		<div class="tags">
			{
				articleTags.map((tag) => {
					return <span class="tag">#{tag} </span>;
				})
			}
		</div>
	</div>
</a>

<style>
	.card-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		flex: 1;

		text-decoration: none;
		color: unset;

		min-width: 250px;

		gap: 10px;
	}

	.card-wrapper:hover img {
		scale: 1.05;
	}

	.image-wrapper {
		display: flex;

		border-radius: 5px;
		flex: 1 1 270px;
		overflow: hidden;
	}

	img {
		display: flex;
		width: 100%;
		aspect-ratio: 1.5/1;
		object-fit: cover;

		transition: scale 0.2s;
	}

	.card-info {
		display: flex;
		flex-direction: column;

		justify-content: space-between;

		gap: 20px;

		flex: 1 1 270px;
	}

	h1 {
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 700;
		font-size: clamp(1.2rem, 4vw, 1.5rem);
	}

	.tag {
		font-size: 14px;
		color: #782BF1;
		font-weight: 700;
	}
</style>
