---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <div class="banner-post">
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  </div>
  <div class="wrapper-post">

    <div class="action-buttons">
      <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.4325 17.2376L13.4918 25.0671L17.5082 29L30.8011 15.9718C34.0223 12.5168 34.8451 9.52552 33.1133 5.77347L25.4766 13.2866L23.4591 11.3066L19.4704 15.2666L21.4325 17.2376Z" fill="white"/>
        <path d="M29.1613 1.85868L9.503 21.2427L3.0362 14.8417C1.85201 13.3958 1.44408 12.4168 1.02799 10.4658C0.613444 4.53485 4.86017 0.864165 10.0465 1.01786C12.4839 1.32912 13.689 1.84128 15.4724 3.52224L11.4375 7.44607C9.71462 5.78066 7.4044 6.76775 6.82555 8.54484C6.29058 10.1872 7.811 11.6442 9.07012 12.8266L9.52142 13.2504L19.3045 3.52224C22.4458 0.800878 25.5134 0.339782 29.1613 1.85868Z" fill="white"/>
        <path d="M21.4325 17.2376L13.4918 25.0671L17.5082 29L30.8011 15.9718C34.0223 12.5168 34.8451 9.52552 33.1133 5.77347L25.4766 13.2866L23.4591 11.3066L19.4704 15.2666L21.4325 17.2376Z" stroke="#0D0D0D"/>
        <path d="M29.1613 1.85868L9.503 21.2427L3.0362 14.8417C1.85201 13.3958 1.44408 12.4168 1.02799 10.4658C0.613444 4.53485 4.86017 0.864165 10.0465 1.01786C12.4839 1.32912 13.689 1.84128 15.4724 3.52224L11.4375 7.44607C9.71462 5.78066 7.4044 6.76775 6.82555 8.54484C6.29058 10.1872 7.811 11.6442 9.07012 12.8266L9.52142 13.2504L19.3045 3.52224C22.4458 0.800878 25.5134 0.339782 29.1613 1.85868Z" stroke="#0D0D0D"/>
      </svg>
        
      <button>
        <svg width="22" height="28" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 3.88889C1 3.12271 1.30102 2.38791 1.83684 1.84614C2.37266 1.30436 3.09938 1 3.85714 1H18.1429C18.9006 1 19.6273 1.30436 20.1632 1.84614C20.699 2.38791 21 3.12271 21 3.88889V27L11 21.9444L1 27V3.88889Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>  
      </button>

      <button>
        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.89324 15.3645C9.17379 14.8033 9.33213 14.17 9.33213 13.5006C9.33213 12.8311 9.17379 12.1978 8.89324 11.6367M8.89324 15.3645C8.47338 16.2039 7.7824 16.877 6.93225 17.2747C6.0821 17.6724 5.12257 17.7714 4.20911 17.5557C3.29565 17.34 2.48177 16.8222 1.89933 16.0862C1.31689 15.3502 1 14.4391 1 13.5006C1 12.562 1.31689 11.6509 1.89933 10.9149C2.48177 10.1789 3.29565 9.6611 4.20911 9.4454C5.12257 9.2297 6.0821 9.32872 6.93225 9.72643C7.7824 10.1241 8.47338 10.7972 8.89324 11.6367M8.89324 15.3645L18.1044 19.97M8.89324 11.6367L18.1044 7.03108M18.1044 19.97C17.6101 20.9587 17.5287 22.1033 17.8783 23.1519C18.2278 24.2006 18.9796 25.0674 19.9683 25.5617C20.957 26.0561 22.1015 26.1374 23.1502 25.7879C24.1988 25.4383 25.0657 24.6865 25.56 23.6978C26.0543 22.7092 26.1357 21.5646 25.7861 20.516C25.4366 19.4673 24.6848 18.6005 23.6961 18.1061C23.2065 17.8614 22.6736 17.7154 22.1276 17.6766C21.5817 17.6378 21.0335 17.7069 20.5142 17.88C19.4656 18.2296 18.5987 18.9814 18.1044 19.97ZM18.1044 7.03108C18.3492 7.52054 18.6879 7.95698 19.1014 8.3155C19.5148 8.67403 19.9948 8.94761 20.514 9.12062C21.0332 9.29364 21.5814 9.3627 22.1272 9.32386C22.6731 9.28503 23.2059 9.13906 23.6954 8.89429C24.1848 8.64952 24.6213 8.31074 24.9798 7.8973C25.3383 7.48385 25.6119 7.00384 25.7849 6.48467C25.9579 5.9655 26.027 5.41733 25.9882 4.87147C25.9493 4.32561 25.8034 3.79274 25.5586 3.30329C25.0643 2.3148 24.1975 1.56317 23.149 1.21375C22.1005 0.864333 20.9561 0.945747 19.9676 1.44008C18.9791 1.93442 18.2275 2.80119 17.8781 3.8497C17.5286 4.89822 17.6101 6.0426 18.1044 7.03108Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="container-post">
      <slot />
    </div>
    
    <aside class="container-aside">
      <img src="/avatar.svg" alt="Icone de avatar do usuário" />
      <div class="author">
        <h1>{frontmatter.author}</h1>
        <p>
          {frontmatter.date} <span class="circle"></span> 1 dia atrás
        </p>
      </div>
      <div class="tags">
        <h1>Tags:</h1>
        {frontmatter.tags.map((tag: string) => (
          <span>{tag}</span>
        ))}
      </div>
      <div class="links">
        <h1>Encontre a He4rt:</h1>
        <div class="social-links">
          <a href="">
            <svg class="icon" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.315 0.5C12.745 0.5 13.099 0.513 14.123 0.56C15.187 0.609 15.914 0.778 16.55 1.025C17.2175 1.27587 17.8222 1.66936 18.322 2.178C18.8306 2.67777 19.2241 3.2825 19.475 3.95C19.722 4.586 19.891 5.313 19.94 6.377C19.988 7.444 20 7.784 20 10.5V10.58C20 13.223 19.988 13.567 19.94 14.623C19.891 15.687 19.722 16.414 19.475 17.05C19.2241 17.7175 18.8306 18.3222 18.322 18.822C17.8222 19.3306 17.2175 19.7241 16.55 19.975C15.914 20.222 15.187 20.391 14.123 20.44C13.056 20.488 12.716 20.5 10 20.5H9.92C7.277 20.5 6.933 20.488 5.877 20.44C4.813 20.391 4.086 20.222 3.45 19.975C2.7825 19.7241 2.17777 19.3306 1.678 18.822C1.16936 18.3222 0.775874 17.7175 0.525 17.05C0.278 16.414 0.109 15.687 0.0599999 14.623C0.0129999 13.599 0 13.244 0 10.815V10.185C0 7.755 0.0129999 7.401 0.0599999 6.377C0.109 5.313 0.278 4.586 0.525 3.95C0.775874 3.2825 1.16936 2.67777 1.678 2.178C2.17777 1.66936 2.7825 1.27587 3.45 1.025C4.086 0.778 4.813 0.609 5.877 0.56C6.901 0.513 7.256 0.5 9.685 0.5H10.315ZM10.234 2.302H9.766C7.31 2.302 6.982 2.313 5.959 2.36C4.984 2.405 4.455 2.567 4.102 2.704C3.635 2.886 3.302 3.102 2.952 3.452C2.602 3.802 2.386 4.135 2.204 4.602C2.067 4.955 1.904 5.484 1.86 6.459C1.813 7.482 1.802 7.81 1.802 10.266V10.734C1.802 13.19 1.813 13.518 1.86 14.541C1.905 15.516 2.067 16.045 2.204 16.398C2.386 16.864 2.603 17.198 2.952 17.548C3.302 17.898 3.635 18.114 4.102 18.296C4.455 18.433 4.984 18.596 5.959 18.64C7.013 18.688 7.329 18.698 10 18.698H10.08C12.677 18.698 12.997 18.688 14.04 18.64C15.016 18.595 15.545 18.433 15.898 18.296C16.364 18.114 16.698 17.898 17.048 17.548C17.398 17.198 17.614 16.865 17.796 16.398C17.933 16.045 18.096 15.516 18.14 14.541C18.188 13.486 18.198 13.171 18.198 10.5V10.42C18.198 7.823 18.188 7.503 18.14 6.46C18.095 5.484 17.933 4.955 17.796 4.602C17.6358 4.16757 17.3802 3.7746 17.048 3.452C16.7254 3.11986 16.3324 2.86426 15.898 2.704C15.545 2.567 15.016 2.404 14.041 2.36C13.018 2.313 12.69 2.302 10.234 2.302ZM10 5.365C10.6743 5.365 11.3421 5.49782 11.9651 5.75588C12.5881 6.01394 13.1542 6.39218 13.631 6.86901C14.1078 7.34584 14.4861 7.91191 14.7441 8.53492C15.0022 9.15793 15.135 9.82566 15.135 10.5C15.135 11.1743 15.0022 11.8421 14.7441 12.4651C14.4861 13.0881 14.1078 13.6542 13.631 14.131C13.1542 14.6078 12.5881 14.9861 11.9651 15.2441C11.3421 15.5022 10.6743 15.635 10 15.635C8.63811 15.635 7.33201 15.094 6.36901 14.131C5.40601 13.168 4.865 11.8619 4.865 10.5C4.865 9.13811 5.40601 7.83201 6.36901 6.86901C7.33201 5.90601 8.63811 5.365 10 5.365ZM10 7.167C9.11603 7.167 8.26827 7.51815 7.64321 8.14321C7.01815 8.76827 6.667 9.61603 6.667 10.5C6.667 11.384 7.01815 12.2317 7.64321 12.8568C8.26827 13.4818 9.11603 13.833 10 13.833C10.884 13.833 11.7317 13.4818 12.3568 12.8568C12.9818 12.2317 13.333 11.384 13.333 10.5C13.333 9.61603 12.9818 8.76827 12.3568 8.14321C11.7317 7.51815 10.884 7.167 10 7.167ZM15.338 3.962C15.6563 3.962 15.9615 4.08843 16.1865 4.31347C16.4116 4.53852 16.538 4.84374 16.538 5.162C16.538 5.48026 16.4116 5.78548 16.1865 6.01053C15.9615 6.23557 15.6563 6.362 15.338 6.362C15.0197 6.362 14.7145 6.23557 14.4895 6.01053C14.2644 5.78548 14.138 5.48026 14.138 5.162C14.138 4.84374 14.2644 4.53852 14.4895 4.31347C14.7145 4.08843 15.0197 3.962 15.338 3.962Z" fill="#9CA3AF"/>
            </svg>                
        </a>
  
        <a href="">
            <svg class="icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.5C4.477 0.5 0 4.984 0 10.517C0 14.942 2.865 18.697 6.839 20.021C7.339 20.113 7.521 19.804 7.521 19.538C7.521 19.301 7.513 18.67 7.508 17.835C4.726 18.44 4.139 16.492 4.139 16.492C3.685 15.334 3.029 15.026 3.029 15.026C2.121 14.406 3.098 14.418 3.098 14.418C4.101 14.488 4.629 15.45 4.629 15.45C5.521 16.98 6.97 16.538 7.539 16.282C7.631 15.635 7.889 15.194 8.175 14.944C5.955 14.691 3.62 13.831 3.62 9.993C3.62 8.9 4.01 8.005 4.649 7.305C4.546 7.052 4.203 6.033 4.747 4.655C4.747 4.655 5.587 4.385 7.497 5.681C8.31277 5.45851 9.15444 5.34519 10 5.344C10.85 5.348 11.705 5.459 12.504 5.681C14.413 4.385 15.251 4.654 15.251 4.654C15.797 6.033 15.453 7.052 15.351 7.305C15.991 8.005 16.379 8.9 16.379 9.993C16.379 13.841 14.04 14.688 11.813 14.936C12.172 15.245 12.491 15.856 12.491 16.791C12.491 18.129 12.479 19.21 12.479 19.538C12.479 19.806 12.659 20.118 13.167 20.02C15.1583 19.3521 16.8893 18.0753 18.1155 16.37C19.3416 14.6648 20.0009 12.6173 20 10.517C20 4.984 15.522 0.5 10 0.5Z" fill="#9CA3AF"/>
            </svg>
        </a>
  
        <a href="">
          <svg class="icon" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.29 16.7534C13.837 16.7534 17.965 10.5004 17.965 5.0784C17.965 4.9004 17.965 4.7234 17.953 4.5484C18.7562 3.96693 19.4493 3.24701 20 2.4224C19.2511 2.7544 18.4566 2.97216 17.643 3.0684C18.4996 2.55546 19.1408 1.74875 19.447 0.798398C18.6417 1.27628 17.7607 1.61313 16.842 1.7944C16.2234 1.13616 15.405 0.700233 14.5136 0.554103C13.6222 0.407974 12.7075 0.559797 11.9111 0.986067C11.1147 1.41234 10.4811 2.08927 10.1083 2.91206C9.7355 3.73485 9.64437 4.65758 9.849 5.5374C8.21759 5.45564 6.6216 5.03172 5.16465 4.29317C3.70769 3.55461 2.42233 2.51792 1.392 1.2504C0.867318 2.1536 0.706589 3.22282 0.942536 4.24036C1.17848 5.25791 1.79337 6.14728 2.662 6.7274C2.00926 6.7085 1.37063 6.5329 0.8 6.2154V6.2674C0.800389 7.21469 1.1284 8.1327 1.7284 8.86576C2.3284 9.59881 3.16347 10.1018 4.092 10.2894C3.48781 10.4541 2.85389 10.4781 2.239 10.3594C2.50116 11.1749 3.01168 11.888 3.69913 12.399C4.38658 12.91 5.21657 13.1934 6.073 13.2094C5.22212 13.878 4.24779 14.3722 3.20573 14.6639C2.16367 14.9556 1.07432 15.039 0 14.9094C1.8766 16.1137 4.06019 16.7525 6.29 16.7494" fill="#9CA3AF"/>
          </svg>
      </a>
        </div>
      </div>

    </aside>
  </div>
</Layout>

<style>
  p {
    color: black;
  }
</style>

<style>

  .wrapper-post {
    display: flex;
    gap: 3rem;
  }



  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .action-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--c-dark-text);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .container-post {
    display: block;
  }

  .container-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    justify-content: center;
    gap: 16px;
    width: 100vh;
    background-color: var(--h-dark-background-1);
  }

  .container-aside img {
    width: 50px;
    height: 50px;
    padding: 25px;
    border-radius: 50%;
    z-index: 0;
    background-color: white;
    object-fit: contain;
  }

  .container-aside h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--c-dark-text);
    margin-top: 0;
    margin-bottom: 0;
  }

  .container-aside p,span {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--c-dark-text);
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .container-aside span.circle::before {
    content: "";
    display:block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--c-dark-text);
    margin: 0 8px;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-top: 16px;
  }

  .social-links svg, svg path {
    width: 20px;
    height: 20px;
    fill: var(--c-dark-text);
  }




  .banner-post {
    position: absolute;
    width: 100vw;
    height: 600px;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
  }

  img {
    object-fit: contain;
    z-index: -1;
  }
</style>
